# --- Artefactos de compilación ---
target/
*.jar
*.jar.original
*.class

# --- Configuración de IDEs ---
# Eclipse
.project
.classpath
.settings/
.factorypath

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# --- Temporales y logs ---
*.log
*.tmp
*.bak
.flattened-pom.xml
createdFiles.lst
inputFiles.lst

# --- OS ---
.DS_Store
Thumbs.db

docs
.serena
.env
.opencode
openspec
